[2016-07-09 22:41] yehosef opened #1 "list active process/window"
It would be great if you could have it output the current active application and window name.

[2016-07-10 14:46] rgcr commented on #1
Hello @yehosef,  could you please explain to me your idea a little bit more?

Do you want a list like this with the window names and the processes that they are running ?
[code]

[2016-07-10 15:01] yehosef commented on #1
What I'm really looking for is a way to poll the script every second or so to get the active window name so I can create my own "rescuetime" type reporting.

http://stackoverflow.com/questions/2845483/which-command-line-tools-can-i-use-to-get-the-currently-active-application-win
https://gist.github.com/medmunds/60f79041b30060cf24d6

I tried doing it but I didn't succeed.

It could be it will also

[2016-07-14 23:49] diego898 opened #4 "`m dir` returns error"
Hello,

I just installed this and after running `m dir` I get the following:

[code]

Everything else seems fine:

[code]

[2016-07-15 00:02] electic opened #6 "Introduce Brew Package"

[2016-07-15 01:27] fbm-static opened #9 "Disable lock animation"
Hello,

With `m lock` I get an animation before it locks the screen. I also get an animation when after entering my password when unlocking. Is there a way to disable this?

Thank you.

[2016-07-15 01:29] fbm-static commented on #4
https://github.com/rgcr/m-cli/issues/4

[2016-07-15 02:03] evanwalsh opened #11 "Tag a stable release?"
It'd be really nice to have this available on [Homebrew](http://brew.sh/) and they like for there to be a git tag of a stable release to point most people at (with the option to install directly from the latest `master`). Any chance we could have a stable released tagged? ❤️

[2016-07-15 02:21] contra opened #13 "don't error when emptying an already empty trash"
[code]

[2016-07-15 02:23] contra opened #14 "feature request: autocomplete"

[2016-07-15 04:48] elgs opened #16 "homebrew?"
Any chance to install from homebrew?

[2016-07-15 05:08] ulyssesv commented on #16
#6 ...

[2016-07-15 05:25] caffeineinc opened #17 "plugin bluetooth enable doesn't work"
Model Name:	MacBook Pro
Model Identifier:	MacBookPro11,3
Processor Name:	Intel Core i7
Bluetooth   Firmware Version:	v118 c9121

Doesn't enable hardware using  `m bluetooth enable`. reports same as disable, which works fine.

[2016-07-15 05:35] colwin commented on #13
@contra  Submitted https://github.com/rgcr/m-cli/pull/19 to fix this.

[2016-07-15 09:20] renard commented on #16
I just wrote an unofficial recipe for homebrew.

Check this out: https://github.com/renard/homebrew-cw/blob/master/m-cli.rb

Please note that current m-cli is not really suitable for homebrew as it. I needs a few patches.

[2016-07-15 09:36] cammil opened #21 "add example outputs to readme command examples?"
That would really help me understand this package.

[2016-07-15 09:48] xusss commented on #4
@blahah 👍

[2016-07-15 09:57] justmd5 opened #23 "autocomplete？"
### autocomplete？please。tks

[2016-07-15 10:10] Strandbummler opened #24 "Installed but won't work"
USER@HOST:~$ m
-bash: m: command not found

macOS 10.11.5, using iTerm2 Build 3.0.4, but same problem in standard macOS Terminal. Ran the installscript multiple times, always says, already installed. But no luck getting it to work.

Any suggestions?

[2016-07-15 10:20] moyaja commented on #24
Having the exact same issue.
macOS 10.11.5
using Terminal

[2016-07-15 10:32] jameshalsall opened #26 "Add command for flushing DNS cache"
Just an idea, but the DNS cache flush operation is different dependent on your version of Mac OS, and it isn't exactly pretty:

From https://support.apple.com/en-gb/HT202516:

10.10.4 and later:

    sudo killall -HUP mDNSResponder

10.10 to 10.10.3:

    sudo discoveryutil mdnsflushcache

10.9.5 and earlier:

    sudo killall -HUP mDNSResponder

10.6 to 10.6.8:

    sudo dscacheutil -flushcache

[2016-07-15 11:53] blahah commented on #4
@fbm-static it's because the PR hasn't been merged yet.

[2016-07-15 11:55] blahah commented on #24
you need to add the install location to your `PATH`:

If you use `bash`:

[code]

or you use `zsh`:

[code]

then open a new terminal, and `m` should be found.

[2016-07-15 11:57] tonivdv commented on #4
@fbm-static PR in question https://github.com/rgcr/m-cli/pull/7

[2016-07-15 11:59] renard commented on #6
See #16 for an unofficial brew recipe

[2016-07-15 12:18] Strandbummler commented on #24
path was added successfully, no change. still won't work... :( (bash)

[2016-07-15 12:25] blahah commented on #24
What's the output of `ls -alh /usr/local/m-cli` ?

[2016-07-15 12:30] Strandbummler commented on #24
USER@HOST:~$ ls -alh /usr/local/m-cli
total 56
drwxr-xr-x  10 user  wheel   340B 15 Jul 11:58 .
drwxr-xr-x  21 user  wheel   714B 15 Jul 11:58 ..
drwxr-xr-x  16 user  wheel   544B 15 Jul 12:07 .git
-rw-r--r--   1 user  wheel    16B 15 Jul 11:58 .gitignore
-rw-r--r--   1 user  wheel   1,1K 15 Jul 11:58 LICENSE.md
-rw-r--r--   1 user  wheel    10K 15 Jul 11:58 Readme.md
-rwxr-xr-x   1 user  wheel

[2016-07-15 12:44] #4 closed

[2016-07-15 12:55] theothermattm commented on #24
Having the same issue with the path.  However, when I copy the main script with a name of "m-cli" everything works well.  See the output below.  I'm on OSX 10.11.5.

[code]

[2016-07-15 13:09] blahah commented on #24
@Strandbummler OK, so the only other obvious place is the `PATH`. Output of `echo $PATH` ?

[2016-07-15 13:33] simondell opened #28 "Change the application name to """
Needs no description.

[2016-07-15 13:39] simondell commented on #28
Closing. Sorry.
I thought this was funny, then realised it wasn't.

[2016-07-15 13:39] #28 closed

[2016-07-15 14:20] Strandbummler commented on #24
USER@HOST:~$ echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/MacGPG2/bin

i think we are getting somewhere, but in ~/.profile it says:
export PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/MacGPG2/bin:/usr/local/m-cli

[2016-07-15 14:51] carambito commented on #24
I got mine to work though this is not as nice.  After installing, I moved the whole directory from the usr/local to User/USER/ and renamed it to '.m-cli'.  Then I went into my .profile and edited the path to be User/USER/.m-cli.

[2016-07-15 14:53] vko-online opened #29 "Would be awesome to have autocompletion"

[2016-07-15 15:01] scottosmith commented on #24
Just a friendly reminder, make sure you open a new terminal window after these changes. It won't take effect if you haven't yet.

[2016-07-15 15:07] blahah commented on #24
@Strandbummler I apologise for my typo in the `echo` command - there should be a `\` before `$PATH` (I've fixed it above now). I recommend deleting that line from `~/.profile` and then re-running the fixed  `echo` command above.

However, this doesn't explain your issue. As @scottosmith says the changes only take affect when the terminal session starts. If you **open a new terminal window** and ty

[2016-07-15 16:03] contra commented on #13
Fixed in master

[2016-07-15 16:03] #13 closed

[2016-07-15 16:10] wlin114 commented on #24
I found out that my `PATH` is in  .bash_profile not .profile

So I changed @blahah 's command to  `echo "export PATH=\$PATH:/usr/local/m-cli" >> ~/.bash_profile`

Now `m` works perfectly for me :)

[2016-07-15 16:18] rgcr commented on #21
Hello, I thought include some outputs but I think it's too much info for the Readme, I'm thinking to add a demo soon

[2016-07-15 16:18] #21 closed

[2016-07-15 16:22] rgcr commented on #17
Could you please run this commands and let me know if it works

1. `sudo defaults write /Library/Preferences/com.apple.Bluetooth ControllerPowerState -int 1`

2. `sudo launchctl unload /System/Library/LaunchDaemons/com.apple.blued.plist`

3. `sudo launchctl load /System/Library/LaunchDaemons/com.apple.blued.plist`

[2016-07-15 16:26] radiovisual commented on #29
This issue is a duplicate of #14

[2016-07-15 16:27] radiovisual commented on #23
This issue is a duplicate of #14 and #29

[2016-07-15 16:45] zstarer opened #30 "VPN?"
any plans to support connecting to a listed vpn?

great tool

[2016-07-15 16:55] JasonJAyalaP opened #31 "Documentation/Recommendation: /etc/paths.d/m-cli"
The most universal and complete way to set a path variable on OS X (all users, all recent version of OS X, GUI & CLI) is the `/etc/paths.d/` directory. Instead of (or in addition to) the recommendation to put "export $PATH..." inside one of the user profiles, the install process can recommend something like `sudo echo '/usr/local/m-cli' > /etc/paths.d/m-cli`. Or it can be an automatic part of the

[2016-07-15 17:47] clarkio opened #32 "Require a password once for certain commands"
Thanks for putting this utility together it is very helpful.

Is it be possible to require the password only once instead of having to re-enter it for certain commands? Or is there a limitation/security concern in enabling that functionality that lead to the current implementation?

As an example:
[code]

[2016-07-15 18:04] rgcr commented on #31
Thank you so much for this, I've implemented this in the latest version 👍
Now `/etc/paths.d/m-cli` is created during the installation process

[2016-07-15 18:04] #31 closed

[2016-07-15 18:09] clarkio commented on #32
Looked into the source code for `hostname` and came up with something that could work (based on this answer in [SO](http://stackoverflow.com/a/30342433):

[code]

I imagine there might be a more elegant way of doing this, but I'm still learning bash 😃

Thoughts?

[2016-07-15 18:12] rgcr commented on #32
Hello @clarkio , this is related to sudo and it can be configured in your sudo config file, you should add a line like this one
[code]

And unfortunately most of commands requires permissions

[2016-07-15 18:16] clarkio commented on #32
@rgcr thanks for the quick response.

Sorry for the potentially noob question, but can you elaborate more on what that will do? Does it essentially turn off any need for a password for my user account when root level commands are executed? If so, what if someone prefers a password to still be required for such commands due to security concerns?

[2016-07-15 19:56] rgcr commented on #32
@clarkio, You can use PASSWD and NOPASSWD to specify whether the user has to enter a password or not.

And you are right, it will be annoying put the password multiple times, I have to improve that 👍

[2016-07-15 20:00] rgcr commented on #24
@Strandbummler are you still getting this error? try to install the tool again I've made some changes and now it's not required export the path in your profile, It create a file automatically in /etc/paths.d/m-cli

[2016-07-15 20:08] rgcr commented on #32
As a quick workaround I've removed sudo in the commands that show the hostname

[2016-07-15 20:31] rgcr commented on #11
I've added the first tag v0.0.1 :) I'm going to implement a brew formula soon 👍

[2016-07-15 20:31] #11 closed

[2016-07-15 20:32] #32 closed

[2016-07-15 22:35] rgcr commented on #30
Sure, why not :+1:

[2016-07-16 01:40] emaxon commented on #24
@wlin114 solution worked for me.

[2016-07-16 03:40] diego898 opened #34 "`nvarm` error on checking safeboot status"
[code]

[2016-07-16 05:31] shaunstanislaus opened #36 "it doesn't work, it is asking to symlink m, how do i symlink it and to where?"
[code]

[2016-07-16 06:59] rgcr commented on #36
@shaunstanislaus Could you please run these commands and share the output
`cat /etc/paths.d/m-cli`
`echo $PATH`

[2016-07-16 07:13] varunyellina commented on #36
I'm having the same issue.
[code]

[2016-07-16 07:19] rgcr commented on #36
Hello @varunyellina, do you have the same problem ?
Seems your path variable is ignoring paths.d files, that's weird.

Please try to add the path manually and check if it works

`export PATH=${PATH}:/usr/local/m-cli`

[2016-07-16 07:21] varunyellina commented on #36
I'm currently using zsh with oh-my-zsh config. Since this isn't the default setting on OSX, does it affect your installation script?

[2016-07-16 07:28] rgcr commented on #36
I'm using zsh also and zgen instead oh-my-zsh, so that's not a problem, I think PATH variable is being overwritten in some point.

if that is the reason include this line in your profile and it should work
`export PATH=${PATH}:/usr/local/m-cli`

[2016-07-16 07:32] varunyellina commented on #36
It does work when I add `export PATH=${PATH}:/usr/local/m-cli`. I'm not sure how `paths.d` is being ignored.

[2016-07-16 07:32] rgcr commented on #24
I'm going to close this issue as there is no new news

[2016-07-16 07:32] #24 closed

[2016-07-16 07:37] rgcr commented on #36
Maybe it is overwritten in some plugin of oh-my-zsh, you can test it with bash and see if there is the m-cli path

1. `bash`
2. `echo $PATH`

[2016-07-16 07:45] varunyellina commented on #36
Without adding to path as you mentioned.
[code]

Now after adding editing `~/.zshrc` with `export PATH=${PATH}:/usr/local/m-cli`

[code]

I'm confused. How is bash reading `~/.zshrc`?

[2016-07-16 12:12] blahah commented on #36
That's happening because bash inherits the environment from zsh, as do all programs executed from within a shell by default.

To see this for yourself:

[code]

[2016-07-16 13:43] rgcr commented on #36
@blahah you are right, then the thing here is why the shell is not taking the paths from paths.d

[2016-07-16 15:28] #30 closed

[2016-07-16 15:35] colby-swandale opened #39 "m-cli not installing to specified directory"
Hi, thanks for the hard work into this project!

I am trying to install the project into my home folder, the documentation says i can specify a path with `INSTALL_DIR` but that function does not appear to be working. The following is an example of me trying to install m-cli into `~/.m-cli` but is instead being installed into `/usr/local/m-cli`. I am not sure if the documentation is wrong or if the

[2016-07-16 15:44] blahah commented on #36
@rgcr I would guess there's another assignment to `PATH` in a startup script that is overriding those loaded from `paths.d`.

@varunyellina does `.zshrc` contain any other `PATH =` statements?

[2016-07-16 15:58] #26 closed

[2016-07-16 16:16] rgcr commented on #39
Hello @colby-swandale , try with this command

`INSTALL_DIR=$HOME/.m-cli sh <(curl -fsSL https://raw.githubusercontent.com/rgcr/m-cli/master/install.sh)`

and reload your shell again, I will update the readme

[2016-07-16 16:40] rgcr commented on #36
@blahah I think the same, @varunyellina you can try creating a temporary `.zshrc` file without plugins and check your `PATH` variable again

[2016-07-16 17:48] rgcr commented on #9
This was solved in this pull requestn #27

[2016-07-16 17:48] #9 closed

[2016-07-16 17:49] oleander commented on #1
Take a look at `lsappinfo`, I think that might solve the problem.

[2016-07-16 17:59] rgcr commented on #1
That's great, I was trying to do it with a swift script, but I think this is better.

[2016-07-16 18:27] oleander commented on #1
If you want to stick with the "It only uses OS X commands" and "It doesn't install 3rd party tools because it doesn't have dependencies", `lsappinfo` would be the way to go. Let me know if you need any help with that or any other internal command for OS X (<= 10.11.x).

[2016-07-16 18:31] oleander commented on #39
Another solution would be to move `INSTALL_DIR` after the pipe. `curl -fsSL https://raw.githubusercontent.com/rgcr/m-cli/master/install.sh | INSTALL_DIR=~/.m-cli sh`.

[2016-07-16 18:52] Anahkiasen opened #40 "Add displays management"
I have two screens and I constantly switch the main one because I also use one of the two for the PC. Would love to have a command like `m displays switch` or something that switches screen, like when dragging the bar here from one screen to another:

![screen shot 2016-07-16 at 20 51 40](https://cloud.githubusercontent.com/assets/1321596/16896541/2e61d700-4b97-11e6-9e63-965746fd7380.png)

[2016-07-16 18:58] rgcr commented on #40
That's a great idea 👍

[2016-07-16 20:17] dmuth opened #41 "Network interfaces should show IP addresses"
When typing `m network ls`, I get a list of all interfaces and their Mac addresses.

Expected behavior: seeing the current IP addresses as well.  That would be really useful to have for troubleshooting purposes.

[2016-07-17 01:25] selfagency commented on #16
@renard

[code]

[2016-07-17 02:16] #14 closed

[2016-07-17 02:21] rgcr commented on #23
Thanks to @yazgazan #33 we have completions for bash and zsh now.

[2016-07-17 02:21] #23 closed

[2016-07-17 02:23] rgcr commented on #29
We've include autocompletion for bash and zsh  #33

[2016-07-17 02:23] #29 closed

[2016-07-17 02:28] rgcr commented on #41
`ifconfig` does that, I suppose you want the same functionality but more readeable like the output of `m network ls`,  am I right?

[2016-07-17 03:41] guarinogabriel opened #43 "Reference Mac CLI at top of Readme file"
Hi Rogelio,

Since this contains basically 97% of the code from Mac CLI, you should reference that your tool is based on my project.

I am okay with you when it comes to reusing the code, but it all comes down to being fair.
If not, all the credit goes to you but the effort of creating the tool for more than 6 months was made by me.

Looking forward your response.
Gabriel

[2016-07-17 03:42] shaunstanislaus commented on #36
@rgcr
[code]

[2016-07-17 03:43] guarinogabriel commented on #43
Even more than that, small details like using the mac logo in the title has been copied from my project, so it's all about being fair and giving credit to the original project while you give your own direction to yours.

[2016-07-17 05:25] rgcr commented on #43
Hello @guarinogabriel There is a thank section to your tool and sorry but I'm not reusing  your code just the idea of create a tool for mac, the code it's completely different and I'm just running os x commands and I try to do it in a simplest way so I don't consider this a copy.

[2016-07-17 05:35] rgcr commented on #43
@guarinogabriel  I've moved the thank section to the begining of the readme file.
Sorry if I caused any discomfort but as I wrote this is not a copy, you can pull the project and do a comparison.

I find that mac-cli is too unfocused with functions like ssh, tar, magento support, mysql support which are not really needed and common between platforms.
I like the exclusive focus of this tool to only

[2016-07-17 05:35] #43 closed

[2016-07-17 13:20] jameshalsall commented on #24
@rgcr can we not create a symlink for `/usr/local/m-cli/m` into `/usr/local/bin` in the install.sh? This would alleviate any path issues people have post-install.

[2016-07-17 13:31] guarinogabriel commented on #43
Hi @rgcr,

As long as you keep the reference on top, I'm okay with it.

All the 3rd party libraries are optional in my project, you could have opened PR to add each of the new plugins to my project instead of moving forward with m-cli as a separate project.

[2016-07-17 14:45] rgcr commented on #24
@jameshalsall I think it's a good idea, I've changed this in the latest commit.

[2016-07-17 14:50] rgcr commented on #36
@shaunstanislaus please install the latest version. It creates a symlink instead a paths.d file :)

`curl -fsSL https://raw.githubusercontent.com/rgcr/m-cli/master/install.sh | sh`

[2016-07-17 14:50] #36 closed

[2016-07-17 15:29] abhi18av opened #45 "<< m lock >> command not working."
Hey, here's the output from the terminal

[code]

[2016-07-17 19:50] rgcr commented on #45
The latest commit fixes this 59049b3

[2016-07-17 19:50] #45 closed

[2016-07-17 20:10] abhi18av commented on #45
Right, thanks for the hard work. It is really useful!

[2016-07-17 20:15] diego898 opened #48 "enter password after every update?"
Is this normal?

[2016-07-17 21:08] #48 closed

[2016-07-17 21:10] rgcr commented on #48
You were right, I moved the creation of the symlink and it shouldn't happen again on the updates

[2016-07-17 23:07] kotarac opened #49 "Bluetooth not getting enabled without SIGHUP"
Enabling bluetooth using `m bluetooth enable` does not get it enabled without sending a SIGHUP to blued by doing a `sudo killall -HUP blued` like `m bluetooth disable` does.

[2016-07-18 01:02] #49 closed

[2016-07-18 01:02] rgcr commented on #49
Thank you so much for your observation 👍

[2016-07-18 01:24] rgcr commented on #34
Hello @diego898, I think this is an OS X error I found the same fix in multiples foros

[2016-07-18 01:26] rgcr commented on #17
This commit should fix this c4727da, see #49 for further information

[2016-07-18 01:26] #17 closed

[2016-07-18 02:19] dmuth commented on #41
Yeah, I'm good friends with `ifconfig`, but it's way too verbose.  The output from `m` is **quite** readable, and I'd love to see more things like IP addresses in it.

I'll take a whack at the code (not necessarily tonight) and see what I can do.

[2016-07-18 02:25] dmuth commented on #41
So I did just take a quick look at the code, and it's written in the Bourne Shell.  I checked into associative arrays in bash, and they're only support in Bash version 4.

Do we have the option of contributing code in a language other than shell?  If so, I'll proceed. (I'm thinking PHP, but more than happy to do Python...)

[2016-07-18 03:54] #41 closed

[2016-07-18 03:59] rgcr commented on #41
Hello @dmuth  I think we need to keep it as simple as possible, so I wrote a simple shell function to do it

This is an example of the output:
[code]

[2016-07-18 04:14] dmuth commented on #41
I just looked at your solution code, and wasn't aware of the `ipconfig` command.  Had I know that, I would have used it.  Nice job!

[2016-07-18 09:26] renard commented on #16
@selfagency As I said `m-cli` is not currently suitable for homebrew.

The problem is here:

[code]

`readlink` on OSX does not resolve an absolute the path.

I do not want to handle patches over patches it would be nice that @rgcr provides and official handler for relocation.

[2016-07-18 10:15] Strandbummler commented on #24
Since i started the topic, I just wanted to let you know that it works now, at least for me :) Thanks for the effort. I really appreciate it, keep up the good work.

[2016-07-18 12:55] rgcr commented on #16
@renard Thank you so much for your effort here, I'll working on it 👍

[2016-07-18 18:20] yannickulrich opened #53 "vpn start does not work on El Capitan"
When I start VPN I get an error from AppleScript

[code]

I'd use `scutil --nc start "$1"` instead. Do you want me to file a pull request?

By the way, great projects!

Cheers

[2016-07-18 21:17] rgcr commented on #53
Hello, this commit should fix this 0f9b3459dfd71ff872e1da5baa83f68a98563f29, please test it and reopen the issue if something is wrong 👍

[2016-07-18 21:17] #53 closed

[2016-07-18 22:21] rgcr opened #54 "Gif for README"
![demo](https://cloud.githubusercontent.com/assets/1203422/16932455/0446ae66-4d0c-11e6-82a5-8bf9b2a3ab75.gif)

[2016-07-19 20:56] ringvold opened #55 "Prompt for password (vpn, wifi etc.)"
Hi!

Just recently found this tool and find it very nice. No longer need to remember the weird commands in OSX to configure it is great! Thanks!

Have you considered an option for getting a prompt to type in the password instead of having to have it in the command?
I'm no talking about the admin password but for example when connecting to VPN or wifi.

[2016-07-19 21:47] rgcr commented on #55
It's a great idea 👍 I'll keep it in mind for the next versions :)

[2016-07-19 23:25] IzzyBzMom1 commented on #54
![image](https://cloud.githubusercontent.com/assets/20372167/16969936/90c54fe8-4de6-11e6-9bf0-ddd1e70937c7.png)
![image](https://cloud.githubusercontent.com/assets/20372167/16969937/90d44890-4de6-11e6-8250-f49d59ac298b.png)

[2016-07-22 03:16] huanzhang opened #57 "VPN: unrecognized option `--pasword'"
I got the following error~

➜  ~ m vpn start 8CB2849B-5EC3-4F80-88E5-02E41CD9BA7A 'user' 'mypass'
scutil: unrecognized option `--pasword'
usage: scutil
        interactive access to the dynamic store.

   or: scutil --prefs [preference-file]
        interactive access to the [raw] stored preferences.

   or: scutil [-W] -r nodename
   or: scutil [-W] -r address
   or: scutil [-W] -r local-address

[2016-07-22 06:31] rgcr commented on #57
Hello @huanzhang, Could you please let me know what is the output if you run this `m info`?

[2016-07-22 06:32] rgcr commented on #39
Closing ticket, there are no news.

[2016-07-22 06:32] #39 closed

[2016-07-22 08:33] huanzhang commented on #57
@rgcr here is the output below:
➜  kt-lode git:(master) m info
ProductName:    Mac OS X
ProductVersion: 10.11.5
BuildVersion:   15F34

[2016-07-22 13:35] rgcr commented on #57
I found the error, it's fixed. Please update the tool `m --update` 👍

[2016-07-22 13:35] #57 closed

[2016-07-26 19:27] tnguyen14 commented on #41
@rgcr I just tried using your solution
[code]

I'm seeing this in the output
[code]

I'm guessing the `\n` is not formatted correctly?

[2016-07-26 20:39] rgcr commented on #41
hello @tnguyen14, try to use `printf` instead `echo`
[code]

[2016-07-26 21:03] tnguyen14 commented on #41
@rgcr that works great. thanks!

[2016-07-27 03:20] huanzhang commented on #57
@rgcr 👍

[2016-07-30 08:03] teddywing commented on #16
For others wondering about the status of the formula: https://github.com/Homebrew/homebrew-core/pull/3137

[2016-07-31 09:12] bensleveritt commented on #16
Ace. This can be closed!

[2016-07-31 09:45] michaelhood commented on #16
thanks for getting this into homebrew. just installed. 👍

[2016-07-31 10:26] doodzik opened #60 "add keyboard command"
I would like to know if there is interested in a keyboard command.
If there is I can add it
To switch keyboard layouts, (like https://github.com/Lutzifer/keyboardSwitcher (this is written in obj-c))
To set custom mappings for mapping keys
And to change the general keyboard settings
(ref https://github.com/doodzik/osx_init/blob/master/system_config.sh#L19-L30)

[2016-07-31 10:39] doodzik opened #61 "change dock minification effect"
as seen [here](https://github.com/doodzik/osx_init/blob/master/system_config.sh#L45)

[2016-07-31 13:48] rgcr commented on #16
Done ! 😃
https://github.com/Homebrew/homebrew-core/commit/d4357b9b94e3c5b216f248ab6d7f96b4b42254c6

[2016-07-31 13:48] #16 closed

[2016-07-31 13:49] rgcr commented on #6
Done ! 😄
https://github.com/Homebrew/homebrew-core/commit/d4357b9b94e3c5b216f248ab6d7f96b4b42254c6

[2016-07-31 13:49] #6 closed

[2016-07-31 20:53] whyfuture commented on #6
==> Caveats
Bash completion has been installed to:
  /usr/local/etc/bash_completion.d

How to implement this into fish shell?

[2016-07-31 20:59] electic commented on #6
How does one install it? I updated to the latest homebrew and the recipe is not there.

[2016-07-31 21:25] whyfuture commented on #6
@electic
do `brew update` at first

[2016-07-31 23:22] rgcr commented on #6
Hello @whyfuture, I'll try to work on it 😅  please feel free to create a PR or an issue for this.

[2016-07-31 23:38] electic commented on #6
@whyfuture I did the update. I get this:

code/
➔ brew install mcli
Error: No available formula with the name "mcli"
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
==> Searching taps...
This formula was found in a tap:
Caskroom/versions/mpeg-streamclip-beta
To install it, run:
  brew install Caskroom/versions/mpeg-streamclip-beta

[2016-07-31 23:45] twe4ked commented on #6
@electic The formula is called `m-cli`.

[2016-08-01 00:17] electic commented on #6
Ah, thanks :) Solved.

[2016-08-01 08:51] Leeds-eBooks opened #63 "Zsh completion error"
If I type `m <tab>`, in zsh, I'm getting the following:
[code]

Any ideas? Some googling brings up something about zsh arrays not being the same as bash arrays but I'm not sure that's the problem here. Sorry for not giving more information but I'm not what would be helpful – so please let me know. Thanks very much!

[2016-08-01 08:52] Leeds-eBooks commented on #63
`which _m` returns:
[code]

[2016-08-01 11:14] whyfuture opened #64 "Add completions for FISH shell"
Please add auto-completions for the majestic [FISH](https://github.com/fish-shell/fish-shell/) shell.

[2016-08-01 16:21] rgcr commented on #63
Hello @Leeds-eBooks, that's weird, please try to delete the zcompdump files and reload your teminal
`rm -f ~/.zcomp*`

[2016-08-01 16:54] rgcr commented on #61
Please feel free to create a PR 😄

[2016-08-01 17:06] rgcr commented on #60
Both ideas are great but I think we should keep it as simple as possible(using scripting and native osx commands).  I think it's not a good idea to include a 3rd party tool.

I would like to hear your opinion.

[2016-08-01 17:44] Leeds-eBooks commented on #63
Thanks for your response! I ran that exact command, verified the files were gone, reloaded the terminal, but the error persists:

<img width="267" alt="screen shot 2016-08-01 at 18 41 57" src="https://cloud.githubusercontent.com/assets/4380655/17303266/cbb63cb2-5817-11e6-99dd-8a337ef203fd.png">

If it's any help, the number of occurrences of the error differ based on what's already typed when I pr

[2016-08-01 17:46] Leeds-eBooks commented on #63
Maybe it is how I am loading the completion script. As homebrew installed it into `/usr/local/share/zsh/site-functions`, but my zsh looks in `/usr/share/zsh/site-functions`, I added the following line at the top of my `.zshrc`:
[code]

[2016-08-02 09:26] doodzik commented on #61
👍

[2016-08-02 09:30] doodzik commented on #60
Yeah. I think you are right there.
[I know that you can't change your current keyboard layout by changing the config.
What do you think about using applescript to change it in the menu bar and a command to add them there?](http://stackoverflow.com/a/23741934)

[2016-08-02 17:21] rgcr commented on #63
Hello @Leeds-eBooks, it's fixed, I will update the brew formula with this fix

[2016-08-02 17:21] #63 closed

[2016-08-03 03:16] fergstar opened #66 "m-cli update with homebrew install"
Can not update homebrew installed m-cli, getting message that not a git repository.
I run the command 'm --update' and it shows the following:
[code]

Which I would assume that I should use 'brew upgrade m-cli' if I installed it with homebrew. Just thought I would advise on the error message when I try to upgrade via m-cli

[2016-08-03 08:39] Leeds-eBooks commented on #63
@rgcr Brilliant, thanks!

It works now, but having another related issue:

[code]

[2016-08-03 17:04] rgcr commented on #63
@Leeds-eBooks , thank you so much for this information, it's fixed now 👍

[2016-08-03 18:15] rgcr commented on #66
Hello @fergstar you are right, I have to disable these options when the package is installed via `homebrew`. I'm working on it.

[2016-08-03 18:44] REBELinBLUE opened #67 "clean command"
Thanks for this script, I have several of these defined as aliases in my bash profile but the way you have implemented it is much nicer.

One thing I have and I think is fairly common from looking at other people's dotfile repos is a command to remove DS_Store files, something like

```alias dsclean="find . -type f -name .DS_Store -delete"```

Maybe a useful plugin to add? I can do a PR is you wis

[2016-08-03 18:48] REBELinBLUE commented on #67
I suppose actually it would make sense as an a part of the dir command?

[2016-08-03 19:35] elyscape opened #68 "`m finder desktop` gives an error if CreateDesktop has never been set"
`CreateDesktop` defaults to being unset. As such, if it hasn't ever been manually set, running `m finder desktop` yields an error:
[code]
[The relevant section of the code](https://github.com/rgcr/m-cli/blob/v0.1.0/plugins/finder#L69-L70):
[code]
Running the `defaults` command manually:
[code]

[2016-08-03 19:46] elyscape opened #70 "Make finder subcommands consistent"
The new `m finder desktop` subcommand takes as arguments `enable` and `disable`, lowercase only. This is in contrast to `m finder showhiddenfiles` and `m finder showextensions`, which both take `yes` and `no` case-insensitively. Additionally, the bash completion will only suggest `YES` and `NO`. This should be unified so that `m finder desktop` takes `yes` and `no` case-insensitively. Alternativel

[2016-08-03 19:56] elyscape commented on #70
Additionally, if you disable showing file extensions in the finder, it deletes the `AppleShowAllExtensions` key, causing an error to be shown by `m finder showextensions`.

[2016-08-03 20:10] elyscape commented on #68
This is also sorta covered by #70.

[2016-08-03 20:55] rgcr commented on #66
Homebrew/homebrew-core/pull/3579

[2016-08-03 21:56] rgcr commented on #67
@REBELinBLUE, it's a good idea that's too much annoying. Please feel free to create a PR any contribution is welcome 👍

[2016-08-03 23:00] #68 closed

[2016-08-03 23:00] #70 closed

[2016-08-03 23:09] rgcr commented on #60
It it works then please go ahead 👍

[2016-08-04 06:26] doodzik commented on #60
👍

I will probably push different changes before I have time to develop this.

[2016-08-04 13:28] REBELinBLUE commented on #67
Cool, I'll take a look this evening :)

[2016-08-05 11:01] Leeds-eBooks commented on #63
Great, thanks :) will you update the homebrew package soon?

[2016-08-05 11:10] Jdub1187 commented on #68
Please stop emailing me

[2016-08-05 13:34] rgcr commented on #68
Hello @Jdub1187, you can disable the notifications in the settings section, sorry about that

[2016-08-05 13:35] rgcr commented on #63
I have a PR opened in `brew` as soon as they merge the PR it will be updated 👍

[2016-08-07 21:04] devxoul commented on #23
If your autocompletion does not work: [this link](http://apple.stackexchange.com/a/195477/196344) helped me.

[2016-08-08 09:58] Leeds-eBooks commented on #63
I can confirm that it's working on my end now.

[2016-08-08 12:11] rgcr commented on #66
Now those options are disabled if `m-cli` is installed via `brew`. It should show a brief help to do it with `brew`

[2016-08-08 12:11] #66 closed

[2016-08-12 15:39] sdaitzman commented on #64
Commenting so I get notified 👍

[2016-08-12 20:00] rgcr commented on #64
I added a simple completion for `fish` c298b0c, I have never used `fish` before, I'll improve this soon so I'll keep this issue opened. Also I'll update the `brew` formula to have this completion available.

[2016-08-12 20:50] sdaitzman opened #76 "m disk repair volume does not recognize escaped spaces"
<img width="407" alt="screen shot 2016-08-12 at 11 39 19 am" src="https://cloud.githubusercontent.com/assets/1499476/17628052/9329b730-6081-11e6-8fcb-fd4a29b62a56.png">
Markdown version of the important parts of the above image:
[code]

[2016-08-12 20:52] sdaitzman commented on #76
Notes:
- I'm running macOS 10.12 build 16A286a
- I'm using Fish Shell, version 2.3.1
- I updated m-cli within the past day

[2016-08-15 12:37] rgcr commented on #76
I'll take a look, thank you so much.

[2016-08-15 16:36] #76 closed

[2016-08-15 16:38] rgcr commented on #76
Please update the tool to the latest version, feel free to reopen the issue if you have any problem.

[2016-08-15 16:39] nikitavoloboev opened #77 "I have an 'alias m='man' in my vimrc, can I somehow use this utility with that alias intact?"
I really like having to open manual pages by simply typing `m bash` or something like it. I really like these utilities but they all start with an m. Is there a way I can change this first 'm' to something else and keep my alias for man pages?

Thank you for any help.

[2016-08-15 20:48] rgcr commented on #77
If you used `brew` install it you can create an alias like this one `alias mcli='/usr/local/bin/m'`

[2016-08-16 07:49] nikitavoloboev commented on #77
thank you, this works

[2016-08-16 07:49] #77 closed

[2016-08-17 00:27] sdaitzman commented on #64
@rgcr how do we add the completions to Fish? Where do they get installed to/where can we source them from?

[2016-08-18 17:52] doodzik opened #80 "drying up the autocompletion code"
This project offers now 3 different completion solutions. IMO we should look into removing that repetition.

Does anyone have a suggestion for tackling this problem?

[2016-08-19 11:53] rgcr commented on #64
@sdaitzman Sorry for the late response, the latest version should contain the fish completion, also you can copy the `completion/fish/m.fish` file to `~/.config/fish/completions/`

[2016-08-19 12:08] rgcr commented on #80
Hello @doodzik, what do you mean, sorry but I can't understand :/ do you think we need to merge the 3 completions in some kind of script to generate them or something like that ?

[2016-08-19 23:57] doodzik commented on #80
That would be the way that I would go. And building them at installation time.
I'm not sure if someone build a solution for this problem or if it is even feasible.
@rgcr what are your thoughts on this?

[2016-08-22 13:31] REBELinBLUE commented on #41
In the latest version I am not getting the newline, rather the escape character

[code]

[2016-08-22 20:27] rgcr commented on #41
Hello @REBELinBLUE  I've changed this to use `printf` instead `echo` in the latest version  (v0.1.8), it should work now

[2016-09-09 20:51] rgcr commented on #80
It would be awesome 👍 feel free to create a PR

[2016-10-13 19:45] focusaurus opened #85 "Feature req: Show/Hide wifi status in menu"
Not sure if this is easy/hard/impossible, but I'd like a scripted way to toggle the "Show Wi-Fi status in menu bar" setting from the Network preferences screen. I think this uses the `defaults` system and updates something like `NSStatusItem Visible com.apple.menuextra.airport" = 1;` but I don't know the proper incantation to simulate the Preferences Pane behavior via command line.

[code]

[2016-11-06 09:59] pmbenjamin opened #89 "Feature: Add support for screencapture"
Adding support for most common screen capture use-cases might be nice.

For example:
- To screen-capture a Window: `screencapture -iW ~/Desktop/screen.jpg` (where `i` flag is _interactive_ and `W` is _Window Selection Mode_)
- To screen-capture a user-defined rectangle: `screencapture -i ~/Desktop/screen.jpg`
- To screen-capture the whole screen: `screencapture -S ~/Desktop/screen.jpg`

I envision

[2016-11-07 12:47] doodzik commented on #80
Unfortunatly I don't have time for this at the moment.

[2016-11-07 12:47] #80 closed

[2016-11-07 12:48] doodzik commented on #60
The usecase for this command isn't relavant for me anymore so I close this. Because I won't work on it.

[2016-11-07 12:48] #60 closed

[2016-11-07 14:59] rgcr commented on #89
That's a good idea 👍

[2016-11-16 07:30] floam commented on #64
It looks like your fish completions have an error with an empty argument for a description  - see https://github.com/fish-shell/fish-shell/issues/3557#issuecomment-260873276

[2016-11-16 16:55] rgcr commented on #64
@floam, done. Thank you 👍

[2016-11-29 05:46] ChengLuffy opened #92 "'m screensaver askforpassword NO' doesn"

[2016-12-01 17:56] robjtede opened #93 "feature: show temperature, power, fan sensors"
Not sure how difficult this would be.
Can't seem to find a built in way of doing it.

[2016-12-02 21:49] pmbenjamin opened #94 "Feature: Add iTunes Support"
Per [this article](http://hints.macworld.com/article.php?story=20011108211802830), it seems that controlling iTunes via Bash is possible.

I haven't tested it and I don't know if the API has changed much for OS X versions released after 2001.

**TL;DR**
[code]

[2016-12-03 20:50] rgcr commented on #93
Good idea, I think it should be easy

[2016-12-03 20:52] rgcr commented on #94
That's awesome, let me test the script and see what I can do :) or if you want you can create a PR

[2016-12-03 22:47] pmbenjamin commented on #94
I'm testing it now. Will submit a PR shortly.

[2016-12-03 22:55] pmbenjamin commented on #94
Tested. They all work. Working on PR now.

[2016-12-03 23:12] pmbenjamin commented on #94
Do you prefer for `vol up` and `vol down` commands to be abbreviated to `vu` and `vd` respectively? Or keep them as-is, with spaces included?

[2016-12-04 03:56] petermbenjamin opened #96 "[Enhancement] Spotlight & Time-Machine Commands"
Found this [Apple OS X Command Line documentation](http://ss64.com/osx/), which could be a gold-mine of potential additions to this project.

## A few potentially interesting additions:
### [Spotlight Search](http://ss64.com/osx/mdfind.html)

[code]

### ~~[App Store Software Updates](http://ss64.com/osx/softwareupdate.html)~~ Already implemented
[code]

### [Time Machine](http://ss64.com/osx/tmut

[2016-12-04 04:11] pmbenjamin commented on #93
@rgcr - I've done some research and I can't seem to find any evidence that this is possible natively.

The closest thing I found were a few third-party apps and one ruby app ([iStats](https://github.com/Chris911/iStats)) that leverages [this C project](https://github.com/lavoiesl/osx-cpu-temp).

Either way, seems like you would need to rely on third-party dependencies to achieve this.

[2016-12-04 04:24] pmbenjamin commented on #40
This can potentially be accomplished by doing a `defaults write` to modify the appropriate attribute(s) in `com.apple.windowserver.plist`.

I just don't have a secondary monitor to test/compare the settings when one monitor is the primary vs when the other monitor is the primary.

Here is the output from reading the `Displays` Preferences :
[code]

[2016-12-05 16:40] rgcr commented on #96
Hi @pmbenjamin first of all thank you so much for your ideas and contributions.
`softwareupdate` has already a basic implemented in the `update` plugin, you can add more functionality to it if you want.

It's a good idea to have plugins for `tmutil` and `mdfind`. Feel free to create the proper PR's 👍

[2016-12-05 16:43] rgcr commented on #40
@pmbenjamin, I'll test it

[2016-12-05 16:56] rgcr commented on #93
Yea, I think it is more difficult than I had expected.
We can know the fan speed running `sudo spindump 1 1 -nofile -stdout | grep -i 'fan speed'`
I'll keep looking for information about how to do it natively, there must be something.

[2016-12-21 04:37] adkafka opened #99 "Feature: No Sleep (Caffeinate) with PID"
This is a simple feature request. I find that after I begin a script, I realize I would like to use 'm nosleep until' on that process. I can do that with caffeinate by running 'caffeinate -w PID'. I think it would be nice to support that feature in m-cli.

I would be happy to make a pull request with this addition, but I am not sure how best to add the feature. As of now, 'm nosleep until NUMBER'

[2016-12-21 15:52] #94 closed

[2016-12-21 17:43] #55 closed

[2016-12-21 20:00] #99 closed

[2016-12-21 20:05] rgcr commented on #99
Hello @adkafka, I added a new subcommand  `m nosleep until pid` also I added the properly completion for `zsh`. It's still pending to improve `bash` and `fish` completions for this.

[2016-12-26 19:42] konstantinkobs opened #100 "Wallpaper is not set"
Whenever I want to change my wallpaper I would assume to navigate to the directory where the desired image file is located and then run `m wallpaper ./image.jpg`. However, when the command is run the dock disappears for a moment (restarting the Finder I guess) and the wallpaper is changed to the default wallpaper of macOS. The image which was mentioned in the command is not used.
I have not found

[2016-12-26 21:10] #100 closed

[2016-12-26 21:16] rgcr commented on #100
Hello @konstantinkobs, you were right, there was an bug on this. It is already fixed, I will update the `brew` formula soon, meanwhile you can install the latest version using the manual steps. 👍

[2017-01-04 20:33] lewisinc opened #101 "Policy on using AppleScript within the project?"
Just curious how everyone felt about using AppleScript within the CLI to accomplish certain things. Seeing as this is a macOS only project, I don't see the harm. Thoughts?

[2017-01-08 19:30] thegranddesign commented on #96
Some of the time machine commands are implemented in #102

[2017-01-08 19:30] thegranddesign commented on #89
Options for screen capture are implemented in #102

[2017-01-08 19:32] thegranddesign commented on #61
@doodzik Adding this after #102 will be 5 lines at most.  Should be super easy for a PR once you look at the other templates.

[2017-01-09 08:54] doodzik commented on #61
Would like to do that, but I'm writing my thesis at the moment.

[2017-01-09 13:59] rgcr commented on #101
Hello @lewisinc, it is ok if you can put it in a script and does not have a 3rd party dependency :)
We use  `AppleScripts` running `osacript -e` in many plugins under the hood.

[2017-01-20 17:30] ddagino opened #103 "scutil: unrecognized option `--user"
When using the command `m vpn start VPNNAME username password` I'm getting the following error:

`scutil: unrecognized option `--user username'`

It is apparently the result of quoting the arguments. Submitting a PR to demonstrate the fix..

[2017-03-03 16:06] #103 closed

[2017-03-03 17:55] petermbenjamin commented on #96
Since Time Machine commands are implemented in #102 and `softwareupdate` is basically implemented in the update plugin, I am closing this issue.

[2017-03-03 17:55] #96 closed

[2017-03-03 21:38] #101 closed

[2017-04-12 08:38] tallinn-code opened #109 "won't clean trash on 10.11.6 (el capitan)"
Hello!

When I'm trying to clean my trash using `m trash clean` it's saying "Done!", however, my trash icon still shows all files being in trashbin.

How can I debug and fix this ?

[2017-04-15 17:29] tallinn-code commented on #109
I do confirm that trash cleaning is indeed not working in El Capitan.

[2017-04-17 19:36] rgcr commented on #109
if you used `brew` to install it then run this command  `bash -x /usr/local/Cellar/m-cli/{{version}}/trash clean`  (just change the right version that you are using) and let me know what was the output because the command is working fine in my mac

[2017-04-18 13:21] tallinn-code commented on #109
Here's the terminal output:

[code]

[2017-04-18 14:38] rgcr commented on #109
@tallinn-code please run `bash -x /usr/local/Cellar/m-cli/0.2.3/plugins/trash clean` because the previous output was the debug info of the `m` script

[2017-04-19 11:42] tallinn-code commented on #109
Still nothing, I mean, files are still accessible to be restored back to original locations.

Below goes the terminal output:

[code]

[2017-04-20 13:26] rgcr commented on #109
Try to run these commands and see what happens because I don't see any error and `trash` command works fine on my mac.

[code]

[code]

[2017-04-27 14:53] tallinn-code commented on #109
Finally I'm sure why some files can't be deleted. The problem is that m-cli can't delete files on removable drives and mounted encrypted drives.

[2017-06-12 09:23] ShikiSuen opened #111 "Permission denied under macOS 10.13 Developer Beta 1."
<img width="566" alt="2017-06-12 17 23 27" src="https://user-images.githubusercontent.com/3164826/27027407-dea88a18-4f93-11e7-954d-8e40ee208dc5.png">

[2017-06-15 05:24] ShikiSuen commented on #111
Problem temporarily solved by using the following command instead:

curl -fsSL https://raw.githubusercontent.com/rgcr/m-cli/master/install.sh | sudo sh

[2017-07-01 15:39] Jahhein opened #112 "Add flightmode plugin for use"
The command `m flightmode ` was unavailable to me using version 0.2.3 HEAD installed via Homebrew. I checked the tar file and flightmode plugin isn't in there.

Edit: I mistakenly made this an issue to remove flightmode from README as it didn't exist and thought it was an old remnant from previous versions. However it was recently added and looked further into what was the cause of it missing.

[2017-07-10 08:53] underyx opened #114 "`m screensaver` doesn't work on macOS 10.13 Beta"
[code]

[2017-08-06 12:34] hunter2 commented on #114
I'm not on High Sierra so I can't test it, but does running `open /System/Library/Frameworks/ScreenSaver.framework/Resources/ScreenSaverEngine.app` return the same error? That might be a simple fix. (The resources folder is aliased to the current version, so if High Sierra has a new version this would work across versions.)

[2017-08-06 12:57] hunter2 commented on #112
Looks like the plugin is available if cloned directly and installed, but the latest release (0.2.3) doesn't include the plugin yet. Maybe time for a new release @rgcr? Also, #115 includes a commit for adding `flightmode` to the command list in the README (accidentally added to that pull request, but it's just a simple text change.

[2017-08-06 14:07] underyx commented on #114
@hunter2 no, that's not it, apparently it was moved to `/System/Library/CoreServices/ScreenSaverEngine.app` instead. I can start the screensaver with `open /System/Library/CoreServices/ScreenSaverEngine.app`.

[2017-08-06 14:17] hunter2 commented on #114
Okay. In that case the screensaver script is gonna need version-checking code (or the messy way, just try to execute both and suppress the "file not found". I think the best way would be to check which file exists and execute whichever is there.

[2017-08-09 17:35] #114 closed

[2017-08-09 23:43] hunter2 commented on #114
@rgcr I don't think #115 actually fixes this issue. I can't test, but @underyx mentioned `ScreenSaverEngine.app` was moved, so the script will require version checking code. I have created a new pull request #116 (I cannot test 10.13, it should in theory fix the issue).

[2017-08-26 07:25] tallinn-code commented on #109
@rgcr this issue is no longer an issue 😄

[2017-08-26 07:25] #109 closed

[2017-08-28 15:33] Jigsaw-Jams opened #117 "Please update homebrew release"
The Homebrew release needs to be updated.
* I didn't check to see what release brew is using, but I realized it was outdated when I went to run `m finder showpath YES`
* See #112 as well.

[2017-08-29 13:23] rgcr commented on #117
I created a PR for this.
https://github.com/Homebrew/homebrew-core/pull/17373

[2017-08-29 13:26] rgcr commented on #112
Same issue #117
I created a PR for this: https://github.com/Homebrew/homebrew-core/pull/17373

[2017-08-29 13:40] rgcr commented on #117
The PR has been merged, `m finder showpath` is available now, just upgrade `m-cli` to the latest version.

[2017-08-29 13:40] #117 closed

[2017-08-29 13:41] rgcr commented on #112
The PR has been merged, just upgrade `m-cli` to the latest version.

[2017-08-29 13:41] #112 closed

[2017-08-29 13:44] hunter2 opened #118 "flightmode plugin lacks command completion on zsh and fish"
#108 added completion for bash, but zsh and fish still lack completion.

[2017-08-29 13:58] #118 closed

[2017-08-29 14:04] rgcr commented on #118
Good catch. I created a new PR to keep the `brew` formula updated.
https://github.com/Homebrew/homebrew-core/pull/17375

[2017-08-29 20:59] Jigsaw-Jams commented on #117
Thanks a lot @rgcr !

[2017-09-15 02:05] SConaway opened #119 "m safeboot status fails High Sierra GM"
[code]

[2017-10-01 23:12] Jarvvski opened #120 "m wallpaper issue"
When setting the wallpaper, the screen goes black for a moment and then changes it to the default macOS wallpaper.

This is on version 0.2.5 from homebrew

[2017-10-15 20:54] Jarvvski commented on #120
Bumo @rgcr ?

[2017-10-16 21:54] rgcr commented on #120
I'll take a look, thank you so much.

[2017-10-16 22:45] Jarvvski commented on #120
Doesn't seem to work on Sierra or High Sierra

[2017-10-30 09:22] piotryordanov opened #121 "m sleep <time>"
Is it possible to make the mac `sleep` after a set amount of time?

For example: `m sleep 3600 # sleeps after 3,600 seconds`  (similar to `m nosleep 3600`)

[2017-12-01 12:53] rootscript opened #123 "add - command completion"
I love this tool for macOS.  Can i suggest/request an enhancement feature:

It would be useful to have command completion, to speed up workflow.

For example, typing `m bl` + `Tab` would complete to `m bluetooth`, and another `Tab` would give you the `status`, `enable`, `disable` command options.

Another example is typing `m b` + `Tab`, this would allow you to complete to `battery` or `bluetooth`

[2017-12-01 13:20] rootscript commented on #123
Just noticed this: `
# copy this file into /usr/local/etc/bash_completion.d/`

[2018-01-11 06:36] lavadew commented on #123
try the following command:

`sudo echo "complete -o bashdefault -o default -F _m m" >> /usr/local/m-cli/m`

[2018-01-11 06:40] lavadew commented on #123
Change into the 'completion/bash' directory and run the following command:

`sudo cp m /usr/local/etc/bash_completion.d/m`

[2018-01-11 06:42] lavadew commented on #121
I'm going to work on this.

[2018-01-11 06:46] mafrosis commented on #121
caffeinate -s -t 3600

[2018-01-11 18:34] lavadew commented on #121
One question: should the mac sleep just once after 3600 seconds or do you want that your mac goes into sleep mode every 3600 seconds?

[2018-01-11 18:49] ghost opened #124 "Adding "--help" and "-h" to the plugins"
Hi there,

what about adding "--help" and "-h" to the plugins?
I'm coming from the Linux side and i recently ran "m wallpaper --help" by mistake and it changed my wallpaper to the default Sierra one.

Not so great.

What do you think about that?

[2018-01-12 06:54] FKSI commented on #121
🤔 does it make sense to make it recurrent? When the mac should wake then?  I think @piotryordanov wanted is more going to sleep just once after n seconds :)

[2018-01-12 19:13] lavadew commented on #121
PR created.

[2018-02-01 03:41] #61 closed

[2018-07-22 04:29] arunsathiya opened #127 "Bug: "No matching processes were found" on bluetooth enable/disable"
**Steps to reproduce**: Follow the steps below to reproduce the issue.

- Enable/disable bluetooth by running one of the two commands shown below.
-- `m bluetooth enable`
-- `m bluetooth disable`

**What is expected:** Bluetooth state is enabled/disabled based on input, and a relevant message is shown.

**What happens instead:** `No matching processes were found` appears as the output, but the sta

[2018-07-22 22:21] unimpossible commented on #127
Solved by #126

[2018-07-26 11:14] windware opened #128 "'trash clean' does not completely empty trash."
Hidden dot files are not removed when running 'm trash clean' as well as trash files stored on mounted volumes.

The former should be easy to fix and for the latter, the command should look for mounted volumes and clear the contents in the .Trashes folder.

[2018-08-19 14:09] jefferysac commented on #120
no, actually it works when you type complete path of your wallpaper .

the screen goes black for a moment and then changes it to the default macOS wallpaper. when you only type uncertain path of wallpaper file.

[2018-09-12 23:56] stefancrain commented on #120
I am able to recreate this issue as described above. I've installed m-cli v0.2.5 via homebrew.
OS info:
[code]

The following configurations fail with the same flash to black, return to default background pattern as described by @Jarvvski .

[code]

[2018-10-08 21:37] jshier commented on #120
This is still an issue on Mojave as well.

[2018-10-20 15:14] Jamesking56 commented on #120
Bumping this, I'm facing the same issue:

[code]

[2018-11-02 18:09] #34 closed

[2018-11-02 18:13] #54 closed

[2018-11-02 18:18] rgcr commented on #119
This is a duplicate issue #34

[2018-11-02 18:18] #119 closed

[2018-11-13 18:07] aejb commented on #127
I'm getting this error again, is it related to Mojave?

[2019-01-09 16:37] Jamesking56 commented on #120
I've got a proof of concept fix working for this, going to try and get a PR sorted :+1: (hold on to your hats!)

[2019-01-09 16:55] Jamesking56 commented on #120
Everyone here, please can you test my PR in your MacOS versions to see if it works (hopefully it does!)

[2019-01-17 22:15] yougotwill commented on #127
Getting the same error on Mojave

[2019-05-28 18:28] CupOfTea696 opened #141 "Add small space to dock"
Add dock subcommand to add a small spacer to the doc.

[code]

[2019-06-13 12:30] bensleveritt commented on #1
@rgcr Is this still being considered? Feels like it might be out of scope for `m`, but it's your call.

[2019-06-13 16:41] #111 closed

[2019-06-20 10:45] vitkabele commented on #120
Hi,
I can confirm that the master version of wallpaper plugin is corrupting the Dock's `desktoppicture.db` file. The Dock then refuses to load and the *.db file needs to be removed to allow Dock restart.

I can also confirm, that  @Jamesking56's pull request fixed the issue and is working well on macOS Mojave.

[code]

[2019-06-20 10:46] Jamesking56 commented on #120
Thanks for confirming @vitkabele :+1:

[2019-06-20 10:49] Jarvvski commented on #120
Good to see there's a fix @Jamesking56

@rgcr can we please get this PR reviewed + merged https://github.com/rgcr/m-cli/pull/133

[2019-06-20 16:47] #120 closed

[2019-06-20 20:43] vitkabele opened #144 "Release"
Hi, could you please tag a new stable release? The one available over Homebrew is still 0.2.5 and this is almost 2 years ago.
@rgcr

[2019-06-20 21:00] rgcr commented on #144
I'm working on it

[2019-09-11 15:40] MichaelSDavid opened #146 "brew version m wallpaper black screen no dock and can't fullscreen apps"
I am very angry at this and I might have to go back to a system backup to restore this. The wallpaper picture did exist. Why did this happen?

macOS 10.14.6

[2019-09-11 16:15] MMichael789 commented on #146
UPDATE: I read online that trashing ~/Library/Application Support/Dock and restarting worked, and it worked for me too. People said that this happens with corrupted image files, however, I've set this image as my background many times before the normal way in System Preferences. I still don't know why this happened.

[2019-10-23 04:51] gregorynicholas commented on #123
@lavadew perhaps should be advised without the sudo:
`cp m /usr/local/etc/bash_completion.d/m`

[2019-11-27 01:34] theomarkkuspaul commented on #146
Ran into the same error. This broke my CMD + TAB app switcher as well.

[2019-11-29 17:52] wviana commented on #146
Trashed `~/Library/Application Support/Dock` as @MMichael789  said. It fixed at the same moment.

[2020-01-19 17:39] jeromefaria commented on #146
Installed this moments ago and managed to immediately run into the same issue. Thanks @MMichael789 for the fix!

[2020-01-23 19:25] shellscape opened #148 "Error: no such table: data"
Running on Catalina. `brew install m-cli` was successful. Attempted the following:

[code]

[2020-02-05 22:40] timkinnane opened #149 "Setting wallpaper has broken desktop prefs"
I used the `m wallpaper` command and it did something to my desktop config that has completely borked it. Steps to reproduce:
- Install m-cli with brew
- Play around with commands - probably bad...
  - `m wallpaper -h`
  - `m wallpaper /tmp/snapshot.png`
  - `m wallpaper "/tmp/snapshot.png"`
- Wallpaper removed (black)
- Things are broken
  - Can't set wallpaper, even through system prefs
  - Hot

[2020-02-13 18:51] gracjankn opened #150 "MacPorts"
Hi!

I was using the tool via Homebrew, but a few days ago I switched to MacPorts. It seems it doesn't exist in their repos, so want to ask, if you'd be willing to add it. If so, it'd be very appreciated.

If not, maybe I could do that (I don't know how to do that yet, but I could find out) or maybe there's other contributor here who has more experience with MacPorts and knows how to do it (if suc

[2020-02-25 06:13] anshumanv opened #153 "[touchbar]: command not working/present"
Great tool!

README says there's a touchbar flag but I don't really see it in the commands printed in the cli help, did I miss something?

[code]

[2020-02-27 07:36] falquaddoomi commented on #149
@timkinnane FYI, this issue has a fix: https://github.com/rgcr/m-cli/issues/146.

Basically, enter `rm ~/Library/Application\ Support/Dock/desktoppicture.db` and the Dock should come back to life.

[2020-02-27 22:12] timkinnane commented on #149
Thanks so much @falquaddoomi - that fixed it. I don't know why I didn't find that issue before.
Closing this as dupe of #146

[2020-02-27 22:12] #149 closed

[2020-03-04 02:33] vibraniumdev opened #154 "m bluetooth command doesn't work"
If Bluetooth is on, when one types `m bluetooth status`, it shows: "Bluetooth ON". However, when one types `m bluetooth disable` and enters the password, it shows: "No matching processes were found".

Even though if you type `m bluetooth status`one more time it tells you "Bluetooth OFF", meaning that apparently it worked, the Bluetooth icon on menu bar is still activated.

![Screen Shot 2020-03-03

[2020-03-17 19:29] #150 closed

[2020-04-06 17:59] phazei commented on #146
This also happens in Catalina 10.15

Breaks expose as well

[2020-04-06 18:03] phazei commented on #144
How's that going?

[2020-04-07 03:35] rgcr commented on #144
Sorry I've had a lot of work, but I'm catching up with this and I will release a new version very soon

[2020-04-08 05:17] nanisean commented on #124
I just ran this expecting a help description for wallpaper and now my wallpaper is black and Dock.app won't open, ever after reboot. Now I have no dock and can't use app switcher or spaces.
No idea how to fix this on Catalina...

Not good at all.

[2020-05-13 08:10] JimDabell commented on #146
It looks like the data in `desktoppicture.db` is expected to be in a different format now.

The SQLite code unconditionally sets every value to the filename.  This breaks a lot of things.

A working data set is as follows:

[code]

This can be fixed with:

`sqlite3 ${HOME}/Library/Application\ Support/Dock/desktoppicture.db "update data set value = '${1}' limit 1 offset 2" && killall Dock`

[2020-06-19 15:30] lucizek commented on #148
Same for me, any solution?

[2020-07-23 03:59] kmalinich commented on #146
Installed it, changed the wallpaper via `m wallpaper`, Dock and Expose are cooked. C'mon homie.

[2020-07-23 10:07] JimDabell commented on #144
@rgcr, perhaps you could add a second person as a maintainer so that they can make a release if you don’t have the time to do it?

[2020-08-03 16:10] pbnj opened #155 "iTunes commands not working on macOS 10.15.6"
## Bug Report

Since the introduction of Apple Music app on macOS, I believe the iTunes commands have stopped working.

### Reproduction Steps

[code]

## Proposed Resolution

Fortunately, I think the solution is as simple as replacing instances of `iTunes` in osascripts to `Music`.

[code]

I will continue to test iTunes commands and submit a patch, including to replace `m itunes` with `m music`

[2020-10-03 15:22] p-vernaeckt commented on #155
Same issue here:

[code]

[2020-10-03 15:33] p-vernaeckt commented on #155
I think I found the issue. In m-cli's source, the app is references as "iTunes", but has be renamed in Catalina to "Music".

Example:

[code]
will fail where

[code]

succeeds.

[2020-10-17 21:22] VishalBilagi commented on #155
Created a PR #158 to fix this problem in MacOS Catalina and above.
Made a copy of iTunes plugin and renamed 'itunes' to 'music'

[2021-03-31 16:25] heywoodlh opened #160 "Firewall State 2"
Is there a way to enable the firewall with `m` but place it in State 2 (block all incoming connections)?

As far as I am aware `m firewall enable` only puts the firewall in State 1:

[code]

Is there a way to set the firewall to State 2?

[2021-05-05 08:13] bensleveritt commented on #160
Hey, thanks for filing this issue. I'm not familiar with firewall states, and a cursory investigation reveals that `/usr/libexec/ApplicationFirewall/socketfilterfw` (what this command uses under the hood) doesn't have an obvious way to set state 2 on. I did notice that if I set block all, then turn it off and on from the commandline, it maintained the setting in Settings.

Do you see the same thin

[2021-05-05 19:06] heywoodlh commented on #160
I do not see the same thing.

This is before I disable and re-enable with `m`:

<img width="666" alt="image" src="https://user-images.githubusercontent.com/18178614/117195230-480c3980-ada2-11eb-84c4-21fcb6164de0.png">

Then I disable and re-enable with `m`, using the following command:

[code]

After I quit out of System Preferences (it doesn't seem to refresh the settings in realtime in System Pr

[2021-05-05 19:14] heywoodlh commented on #160
So I looked at the command you mentioned and found that I can set State 2 with the following command:

[code]

You can see what happens when I disable the firewall with `m`, re-enable the firewall, and then issue that command:
[code]

[2021-05-05 19:16] bensleveritt commented on #160
Ah well researched! If you feel up to it, feel free to open a PR. Otherwise I'll have a look at the end of the week.

[2021-05-05 20:13] heywoodlh commented on #160
Done!

https://github.com/rgcr/m-cli/pull/161

[2021-05-06 13:12] bensleveritt commented on #160
Merged #161 , so I'll close this

[2021-05-06 13:12] #160 closed

[2021-05-06 13:14] bensleveritt commented on #155
Great work @VishalBilagi. Sorry it's taken time to get around to reviewing.

How would you feel about putting the two commands together under `music`, and eventually deprecate `itunes`?

[2021-05-06 13:18] bensleveritt commented on #144
👋 I'm picking up this, and hopefully we'll get a new release out soon™️ I'm just checking all the changes that have happened, will put it into the changelog, and then test. I ought to put this somewhere public...

[2021-05-06 13:27] bensleveritt opened #162 "Automated test suite"
As part of preparations for the next release, I'd like to formalise the testing into something automatic. I'm not particularly au-fait with bash testing, so if anyone has anything to contribute, this is a welcome forum.

[2021-05-06 13:32] bensleveritt commented on #150
Interesting proposal!

I use Homebrew, but have started moving to darwin-nix. I think there will be some scope for additional package managers, but probably after the next release. I'll create a new issue for additional package considerations

[2021-05-06 13:35] bensleveritt commented on #153
You're right, the touchbar support is unreleased. I'll update this issue after release

[2021-05-06 13:36] bensleveritt commented on #123
@rootscript Did this work for you? I'm going to close this now, but if you still have issues, please reopen.

[2021-05-06 13:36] #123 closed

[2021-05-06 13:39] bensleveritt commented on #1
I'm going to close this, as I think parsing the output from `lsappinfo` is lots to work with, and I'm not sure it's quite inline with `m`s main usecases. Feel free to reopen if you haven't solved this problem, and I'll put it into the backlog

[2021-05-06 13:39] #1 closed

[2021-05-06 14:58] bensleveritt commented on #154
Ah, this has been resolved (#126) and will be in the next release

[2021-05-06 15:21] bensleveritt opened #163 "Airdrop status outputs an error first use"
When getting Airdrop status for the first time:

[code]

Based on https://github.com/SummitRoute/osxlockdown/issues/50 this is expected, but it'd be nice to deal with.

[2021-05-08 07:36] bensleveritt commented on #154
0.3.0 has been released, so I'll close this.

[2021-05-08 07:36] #154 closed

[2021-05-08 07:36] bensleveritt commented on #153
0.3.0 has been released, so I'll close this.

[2021-05-08 07:36] #153 closed

[2021-05-08 07:49] bensleveritt commented on #148
Sorry for the long wait, but if you're still experiencing this, could I ask you to update to the latest version (0.3.0) and try again?

[2021-05-12 08:26] bensleveritt commented on #146
Thanks for raising this issue. The previous release 0.2.5 was old, so I've made a new release. I'll update this command with @JimDabell's work, though I'll need a brave soul to verify it for me

[2021-05-12 08:30] bensleveritt commented on #146
In fact, the latest version (0.3.0) uses a different strategy (Applecscript) which is far less dangerous #133. I'll close for now, but if there are any issues, feel free to reopen

[2021-05-12 08:30] #146 closed

[2021-05-12 08:32] bensleveritt commented on #64
Closing, as I *think* this is done... Feel free to raise any specific Fish completions that are missing.

[2021-05-12 08:32] #64 closed

[2021-05-12 08:41] bensleveritt commented on #85
Thanks for raising this, and sorry it's taken so long to address. I think this would fit in well with the project.

Found this in [someone's mac setup](https://github.com/naokivandit/auto-mac-setup/blob/07223ecbb4b8d036db651209cdd996f429905549/default.sh):

[code]

So should be doable. I'll take a look at it shortly 🤞

[2021-06-25 00:59] paxperscientiam opened #166 "`m trash status` return incorrect content info"
This might be a permissions issue. not sure. i did install in the standard way.

`m trash status` yields, despite containing lots of files of various types:

Is there some test I could do to help figure out the issue?

*EDIT*

OK, got the answer! It's a Gatekeeper permissions issue: the terminal emulator must have Full Disk Access.

![Screen Shot 2021-06-24 at 9 41 38 PM](https://user-images.githu

[2021-06-25 01:44] #166 closed

[2021-06-25 06:11] paxperscientiam commented on #163
One way to approach this would be to first check that the domain in question actually exists.

For example:
[code]
So, if that exits with 0 and `defaults read com.apple.NetworkBrowser DisableAirDrop` exits with 1, perhaps we should assume that the property `DisableAirDrop` just hasn't been set yet.

ie:
[code]

How do go about it really depends on how robust `m-cli` should be. The above is a basic

[2021-06-25 07:13] bensleveritt commented on #144
v0.3.0 is out, so I'm closing. Sorry for the wait

[2021-06-25 07:13] #144 closed

[2021-06-25 07:24] bensleveritt commented on #124
You're right, that's a terrible experience @nanisean. I *think* the latest release isn't nearly as destructive for the wallpaper command, and `m wallpaper -h` fails safe.

I'll have a think about how to alias `-h` and `--help` as they're common

[2021-07-20 04:06] paxperscientiam commented on #93
@rgcr Couple possibilities:

SO, if you want to get an average fan speed, you might do something messy like this:
[code]

If you are happy with just the first sample:
[code]

I've also looked at using `powermetrics` ability to format output to limit and then parse it with `defaults` or `plutil`; but, that proved to be kinda hard and no less messy.

For simplicity's sake, I'd go with option 2. Shou

[2021-07-20 04:13] paxperscientiam commented on #93
@rgcr  If you'd like an average of three samples:

[code]

For a single measurement:
[code]

I can make a PR if you like this approach, but let me know which you prefer.

[2021-08-09 19:06] goodevilgenius opened #170 "wallpaper command only sets wallpaper for current desktop"
If you have an external monitor, multiple desktops, or both, the wallpaper command will not change the wallpaper for all of them, but just the primary monitor on the current desktop

[2021-10-02 10:30] 0ihsan opened #173 "set wallpaper to hex color instead of image file"
<img width="911" alt="Screenshot 2021-10-02 at 13 29 05" src="https://user-images.githubusercontent.com/24369769/135712521-77c4f2e0-275b-4d72-847e-0e20ee454584.png">

[2021-10-18 08:55] bensleveritt commented on #93
Thanks to @paxperscientiam we have fan speed, waiting to be released.

[2021-10-21 01:33] AHinMaine opened #176 "Fix hard coded default wi-fi interface"
Right now, the default wifi interface is en0, however, it's not actually en0 on all devices, so commands like 'm wifi ls' simply returns the message "en0 is not a Wi-Fi interface."

As it sits, there's a few options:
- Run something like `networksetup -listallhardwareports | awk -F': ' '/Hardware Port: Wi-Fi/ { getline; print $2}'` every single time.  Ouch.
- Tell people to populate the environmen

[2021-11-21 08:16] furkanpehli1 opened #178 "We can add more features to DNS plugin"
Yesterday I raised a pull request about listing dns servers feature and I believe we can add more features to DNS plugin. Basically for ex.

`m dns set [dns server hostname]`
`m dns set -m [dns1,dns2,dns3...]`

Last one for multi input and we can also have remove;

`m dns remove [dns server hostname]`
`m dns remove -m [dns1,dns2,dns3...]`

These are all features come to mind in first step... What

[2021-12-18 10:25] jdf221 commented on #173
I don't have the time to set this up with a PR for the wallpaper plugin but here is a bash script that will generate a 1x1 BMP file for a specific hex code:

[code]

Tested setting my wallpaper to this BMP and it fills the whole screen as long as the wallpaper is set to a setting that attempts to fill the screen.

[2021-12-18 14:01] bensleveritt commented on #173
That's a great solution, if I get time I'll try putting a PR together for it

[2021-12-29 21:37] incanus commented on #176
Here's a vote for a command-line based parser thing like the first option. It's what I used in a previous PR (https://github.com/rgcr/m-cli/pull/135) and if it helps, this might be a little less ugly:

[code]

[2022-01-06 11:45] K-Mazur commented on #170
I created a pull request with an update for changing all desktops wallpapers instead of just a primary monitor https://github.com/rgcr/m-cli/pull/181

[2022-02-17 17:52] forrie opened #183 "Bash 5.1 errors, unary operator expected"
When issuing the following command:

`m itunes status`

I get the following error:

`bash-5.1# m itunes status
29:41: syntax error: A identifier can’t go after this identifier. (-2740)
iTunes is currently .
/usr/local/m-cli/plugins/itunes: line 30: [: =: unary operator expected
bash-5.1#`

Like 30 of that file reads:

` if [ $state = "playing" ]; then`

This error presents in bash and zsh, though

[2022-04-15 18:38] magnusviri opened #185 "Usage information not following POSIX standard"
The [POSIX standard](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html) for usage information specifies that square brackets, "[ ... ]", indicates optional arguments. It looks like most of the utilities are using square brackets to show required arguments. E.g.

	usage: m airdrop [ status | on | enable | off | disable | help ]

Is there a plan to change this?

I'm currently

[2022-04-15 19:17] magnusviri opened #186 "Headless"
I'm looking through the plugins and I've noticed some of them open applications like System Preferences. If you're logged in to the computer this is fine, but if you're ssh'ed in to a remote computer, this wont work. It would be good if the documentation mentions if a command is safe for headless and if the command itself checked to make sure it has a GUI if it needs the GUI.

[2022-04-15 19:26] magnusviri commented on #186
I should also add that some people (like me) don't login as an admin user and to run something in Terminal as sudo you have to su to an admin user. This means that even when logged in, the user running the command isn't the user running the GUI.

[2022-06-29 20:12] ken-w opened #189 "Combined itunes play/pause"
m-cli is brilliant.  Thank you!  Any chance for a combined play/pause for itunes?  The itunes command actually works with the iTunes install from Retroactive.  I find iTunes works much better with the music library from my plugged-in iPhone than Music does.  I control the music with Keyboard Maestro, but am not used to separate play and pause controls.  It was always combined, so if it was playing

[2022-09-17 20:42] maxzinkus opened #192 "AirDrop off disables airdrop even after uninstall"
I'm assuming this is due to some `defaults write` call(s) occurring under the hood, but settings like these should be saved at install time and then restored at uninstall. Otherwise AirDrop is left in a broken state (attempting to enable it leads to a "this app could not be found"-type MacOS system popup.

Current resolution: re-install `m-cli` (if you remember that it's the reason you have the pr

[2022-09-29 05:30] ss-o opened #193 "Roadmap"
Hey :wave:

I've been researching stuff related to Zsh and macOS and seeing this project gave me some ideas. I would like it to be a bit faster, automated, interactive, and more user-friendly.

Is there any plan or guidelines to follow for this project? I'd suggest some PRs accordingly, so it's not pointless if it's not preferred :dart: Thanks!

https://wiki.zshell.dev

[2022-11-03 14:11] govindarajue6data opened #195 "m bluetooth is not working in apple m1 pro"

[2022-11-04 12:40] #195 closed

[2022-11-04 12:45] govindarajug opened #196 "m bluetooth is not working in apple m1 pro"